.card {
	transition: transform 300ms ease-in-out;
}

.card:hover {
	cursor: pointer;
	transform: scale(1.015);
}

.card-header > a {
    text-decoration: none;
    font-size: 1.3rem;
}

@media(min-width: 990px){
	.card {
		width: 30%;
	}
}