{% extends 'base.html' %} {% block content %}

<div class="container">
	<h2>News Sources</h2>
	<hr />
	<div class="d-flex justify-content-around flex-wrap">
		{% for news_item in news_list %}
		<div class="card mb-4 shadow" style="max-width: 30%">
			<div class="card-header">
				<a href={{news_item.url}}> {{news_item.name}} </a>
			</div>
			<div class="card-body">
				<p class="card-text">{{ news_item.description }}</p>
				<a href="/{{news_item.name.replace(' ', '-')}}" class="btn btn-outline-dark mt-2"> Headlines </a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
